<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contracting Services Provider</title>
  <link href="/dist/fontawesome/css/font-awesome.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  <!-- Static navbar -->

  <div class="form-group row">
    <div class="col-sm-6 ">
      <div class="textLeft">
        <img src="img/st.png" id="stImg" onerror="this.src='/img/st.png'; this.onerror=null;" alt="ST Logo">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="textRight">
        <img src="img/fbk.png" id="fbkImg" width="260" onerror="this.src='/img/fbk.png'; this.onerror=null;" alt="FBK Logo">
      </div>
    </div>
  </div>




  <div id="mainComp">
    <h1>Welcome <%= name %></h1>
    <span>We got the following information from your Identity Provider:</span>

    <table id="attributes-table" class="table">
      <tr>
        <th class="defaultSize textRight">Server name:</th>
        <td class="defaultSize textLeft"><%= issuer %></td>
      </tr>
      <tr>
        <th class="defaultSize textRight">Fiscal Number:</th>
        <td class="defaultSize textLeft"><%= fiscalNumber %></td>
      </tr>
      <tr>
        <th class="defaultSize textRight">Surname:</th>
        <td class="defaultSize textLeft"><%= familyName %></td>
      </tr>
      <tr>
        <th class="defaultSize textRight">Name:</th>
        <td class="defaultSize textLeft"><%= name %></td>
      </tr>
      <tr>
        <th class="defaultSize textRight">Date of Birth:</th>
        <td class="defaultSize textLeft"><%= dateOfBirth %></td>
      </tr>
    </table>

    <form class="form-horizontal" action="/uploadVerifiableCredential" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-9">Upload a verifiable credential with your IBAN in order to verify your account:</label>
        <div class="col-sm-3">
          <input type="hidden" name="MAX_FILE_SIZE" value="3000" />
          <input name="file" type="file" class="" id="file">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2">
          <button type="submit" class="btn btn-info">Upload</button>
        </div>
      </div>
    </form>
</div>

</body>

<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/jquery-validation/jquery.validate.min.js"></script>
<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script language="javascript" type="text/javascript">
  function submitDetailsForm() {
    fetch('http://localhost:5000/uploadVerifiableCredential', {
			method: 'POST',
			headers: {
			'Accept': 'application/json'
			},
			body: formData
			}).then(response => {
				console.log(response)
				if(response.status.toString() == "200") {
					this.setState({verResult: 1})
				} else {
					this.setState({verResult: 2})
				}
			})
  }
</script>


</html>
